div {
    text-align: center;
    margin: 0 auto;
}

p {
    font-family: Western;
    font-size: 15px;
    font-weight: bolder;
}

a {
    text-decoration: underline;
    color: blue;
}

a:hover {
    cursor: pointer;
}

ul.url {
    list-style-type: disc;
}

.delete {
    font-size: small;
    color: blue;
    text-decoration: underline;
}

.delete:hover {
    cursor: pointer;
}

